<div class = "animate__animated animate__fadeIn animate__faster">
    <h2>By country</h2>
    <hr/>
    <div class="row">
        <div class = "col">
            <app-country-input
                (onEnter)="search( $event )"
                (onDebounce) = "suggest( $event )"
                placeholder = "Search country..."
            >
            </app-country-input>
        </div>
    </div>
    <ul *ngIf="showSuggests" class = "list-group">
        <li *ngFor="let suggested of suggestedCountries" class="list-group-item list-group-item-action">
            <a class = "nav-link"
                [routerLink]="[ '/country', suggested.alpha2Code ]">
                {{suggested.name}}
            </a>
        </li>
        <li class="list-group-item list-group-item-action"
            (click) = "search(query)"
        >
            <a class = "nav-link">
                Search: "{{query}}"
            </a>
        </li>
    </ul>
    <hr/>
</div>


<div *ngIf="!isSuccessful" class = "alert alert-danger">
    No results for : {{query}}
</div>

<div *ngIf="countries.length > 0" class = "row">
    <div class = "col">
        <app-country-table [countries] = "countries"></app-country-table>
        
    </div>
</div>