<table class = "table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Flag</th>
            <th>Name</th>
            <th>Population</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; let i = index">
            <td>{{i + 1}}</td>
            <td><img src = ""/>
                <img
                    [src] = "country.flag"
                    class = "small-flag"
                />
            </td>
            <td><strong>{{country.name}} - {{country.nativeName}}</strong>, Capital: {{country.capital}}</td>
            <td>{{country.population | number}}</td>
            <td>
                <a href="#"
                    [routerLink]="[ '/country', country.alpha2Code]"
                    routerLinkActive="active"
                >
                    Ver...
                </a>
            </td>

        </tr>
    </tbody>
</table>
